body {
    font-family: Arial, sans-serif;
    background: url('images/mobileheader.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(44, 62, 80, 0.8); /* Fondo azul más claro para el header con opacidad */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #5dade2; /* Azul claro */
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #5dade2; /* Azul claro */
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #4a90e2; /* Azul más claro */
}

.hero {
    background-color: rgba(30, 42, 56, 0.8); /* Fondo azul oscuro con opacidad */
    padding: 100px 20px;
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #5dade2; /* Azul claro */
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ccc; /* Color de texto claro */
}

.cta-button {
    background-color: #5dade2; /* Azul claro */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #4a90e2; /* Azul más claro */
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: rgba(44, 62, 80, 0.8); /* Fondo azul más claro con opacidad */
}

.feature-item {
    text-align: center;
    width: 30%;
}

.feature-item i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #5dade2; /* Azul claro */
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 16px;
    color: #ccc; /* Color de texto claro */
}

.container {
    background-color: rgba(44, 62, 80, 0.9); /* Fondo azul más claro para el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
    margin: 20px auto; /* Centrado horizontal */
}

h1 {
    font-size: 24px;
    color: #5dade2; /* Azul claro */
}

.input-section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-icon {
    width: 20px; /* Tamaño más pequeño para los iconos */
    height: 20px; /* Asegura que la altura sea proporcional */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

label {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

input[type="number"],
select {
    width: 100%;
    padding: 12px; /* Tamaño de los inputs */
    box-sizing: border-box;
    border: 1px solid #5dade2; /* Azul claro */
    border-radius: 4px;
    background-color: #2c3e50;
    color: #fff;
    font-size: 16px; /* Tamaño de texto más grande */
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #5dade2; /* Azul claro */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 4px; /* Bordes redondeados */
    padding: 12px 20px; /* Padding ajustado */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
    width: 48%; /* Botones con un ancho de 48% para que se ajusten en fila */
    text-align: center;
    font-weight: bold; /* Texto en negrita */
    margin-top: 10px; /* Margen superior */
}

.calculate-button {
    background-color: #4a90e2; /* Azul más claro para calcular */
}

.clear-button {
    background-color: #4a90e2; /* Azul claro para borrar */
}

button:hover {
    background-color: #4a90e2; /* Azul más claro para hover */
}

button:active {
    background-color: #2e77d0; /* Azul aún más oscuro para active */
}

.result-container {
    margin-top: 20px;
}

footer {
    background-color: rgba(30, 42, 56, 0.8); /* Fondo azul oscuro para el pie de página con opacidad */
    color: #5dade2; /* Azul claro */
    text-align: center;
    padding: 15px;
    border-top: 2px solid #5dade2; /* Azul claro */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social-links a {
    color: #5dade2; /* Azul claro */
    margin: 0 10px;
    font-size: 20px; /* Tamaño de íconos sociales */
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #4a90e2; /* Azul más claro para hover */
}
#CustomDiscount {
    width: 80px;
    margin-left: 10px;
    padding: 8px; /* Aumenta el padding para mantener la consistencia con el diseño */
    border-radius: 4px;
    border: 1px solid #5dade2; /* Color de borde que combina con el esquema de color */
    background-color: #2c3e50; /* Color de fondo que coincide con el esquema oscuro */
    color: #fff; /* Texto blanco */
    font-size: 16px; /* Tamaño de texto consistente */
    box-sizing: border-box;
    display: inline;
}
#warning {
    color: #4a90e2; /* Color rojo para el texto de advertencia */
    font-size: 1.2em; /* Tamaño de fuente ligeramente mayor para destacar */
    margin-top: 10px; /* Espacio superior para separar del contenido anterior */
}
