@import url(https://db.onlinewebfonts.com/c/26af7133fea192d900d20e8c886a69e8?family=Aero+Matics+Bold);
@font-face {
    font-family: "Aero Matics Bold";
    src: url("https://db.onlinewebfonts.com/t/26af7133fea192d900d20e8c886a69e8.eot");
    src: url("https://db.onlinewebfonts.com/t/26af7133fea192d900d20e8c886a69e8.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/26af7133fea192d900d20e8c886a69e8.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/26af7133fea192d900d20e8c886a69e8.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/26af7133fea192d900d20e8c886a69e8.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/26af7133fea192d900d20e8c886a69e8.svg#Aero Matics Bold")format("svg");
}
body {
    font-family: 'Aero Matics Bold', Arial, sans-serif;
    text-align: center;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
h1 {
    margin-top: 0;
    font-size: 32px;
    text-align: center;
}
h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}
.table-container {
    width: 100%;
    max-width: 100%;
}
table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
}
th, td {
    border-style: hidden!important;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px; 
}
td {
    font-family: 'Rubik', Arial, sans-serif;
}
th {
    font-family: 'Aero Matics Bold', Arial, sans-serif;
    top: 0;
    z-index: 1;
    position: sticky;
    cursor: pointer;
    background-color: #555;
    font-size: 20px;
}
th:hover {
    background-color: #777;
}
th.sort-asc::after,
th.sort-desc::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
th.sort-asc::after {
    border-bottom: 5px solid #fff;
}
th.sort-desc::after {
    border-top: 5px solid #fff;
}
input[type="text"] {
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}
input[type="text"]:focus {
    outline: none;
    border-color: #aaa;
}
.bold {
    font-weight: bold;
}
select {
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-family: 'Aero Matics', Arial, sans-serif;
}
.hidden-text {
    display: none;
}
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}
.filter-box {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.filter-box span {
    margin-right: 5px;
}
.remove-filter {
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.remove-filter:hover {
    background-color: darkred;
}
.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cyber {
  background: linear-gradient(to right, #b26c00, #4b4b4b);
  color: white;
}
.necro {
  background: linear-gradient(to right, #738505, #4b4b4b);
  color: white;
}
.saber {
  background: linear-gradient(to right, #8e270f, #4b4b4b);
  color: white;
}
.zoomorph {
  background: linear-gradient(to right, #734924, #4b4b4b);
  color: white;
}
.galactic {
  background: linear-gradient(to right, #3a4678, #4b4b4b);
  color: white;
}
.mythic {
  background: linear-gradient(to right, #623b79, #4b4b4b);
  color: white;
}
